*.py[cod]

#c
*.o
*.a
*.so

#packages
*.egg
*.egg-info
dist
build
eggs
parts
#bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

#install
pip-log.txt

#tests
.coverage
.tox
nosetests.xml

#translations
*.mo

#mr developer
.mr.developer.cfg
.project
.pydevproject

_gitignore
_out

#sphinx
_build
_static
_templates

*.todo
